* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: red;
}

#root {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.flip-card {
  width: calc(100vw/4 - 20px);
  perspective: 1000px;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  padding-top: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-size: cover;
  background-repeat: no-repeat;
}


.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}
div.flip-card-back div.info {
  position: absolute;
    top: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
